<div class="h-full text-md">
  <div class="flex flex-col p-4 justify-between">
    <span class="text-6xl text-slate-400 mb-4">Login</span>
    <div class="mt-8 flex flex-col">
      <mat-form-field>
          <mat-label>User:</mat-label>
          <input type="text" matInput placeholder="input your username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input type="password" matInput placeholder="input your password">
      </mat-form-field>
    </div>
    <button mat-flat-button class="mt-20">Login<mat-icon>login</mat-icon></button>
    <div class="flex justify-end">
      <a routerLink="/auth/signup" class="hover:underline hover:underline-offset-4 hover:text-blue-700 mt-4">Don´t have an account?</a>
    </div>
  </div>
</div>
